
<div class="col-xs-12 col-md-3 text-center content">
    <a href="tel:02-8385-8686">
        <i class="fa fa-phone"></i>
        電話: 02 8385 8686
    </a>
</div>

<div class="col-xs-12 col-md-3 text-center content">
    <a href="https://maps.google.com/?q=Shop 2/18-26 Anderson St, Chatswood, NSW">
        <i class="fa fa-map-marker"></i>
        地址: Shop 2/18-26 Anderson St, Chatswood, NSW
    </a>
</div>

<div class="col-xs-12 col-md-3 text-center content">
    <i class="fa fa-clock-o"></i>
    營業時間: 10:00 am - 7:00 pm
</div>

<div class="col-xs-12 col-md-3 text-center content">
    <i class="fa fa-institution"></i>
    ABN: 612 104 104
</div>