<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-area">  
                <form role="form" #f="ngForm" (ngSubmit)="onSubmit(f)" >
                    
                    <div class="form-group">
                        <label for="name_Cht">中文名</label>
                        <input 
                        [(ngModel)] = "model.name_Cht"
                        type="text" class="form-control" id="name_Cht" name="name_Cht" required>
                    </div>
                     
                    <div class="form-group">
                        <label for="description">中文描述</label>
                        <textarea 
                        [(ngModel)] = "model.description"
                        class="form-control" type="textarea" id="description" name="description" rows="7"></textarea>
                    </div>
                    
                    <div class="form-group">
                            <label for="name_Eng">英文名</label>
                            <input 
                            [(ngModel)] = "model.name_Eng"
                            type="text" class="form-control" id="name_Eng" name="name_Eng" required>
                    </div>
                        
                    <div class="form-group">
                        <label for="description_Eng">英文描述</label>
                        <textarea 
                        [(ngModel)] = "model.description_Eng"
                        class="form-control" type="textarea" id="description_Eng" name="description_Eng" rows="7"></textarea>
                    </div>
                    

                    <button [disabled]="!f.valid" class="btn btn-primary">保存</button>

                    {{f.value | json }}
                    {{ model | json }}
                </form>
            </div>
        </div>
    </div>
</div>