

<div *ngFor="let item of items" class="container">
    <div  class="row">
            
            <div class="col-xs-12">

                <p class="text-center">
                    <strong>{{item.name_Cht}}</strong>
                </p>
        
                <p>{{item.description}}</p>

                <img 
                *ngFor="let image of item.images" 
                [src]="image.url" 
                class="img-thumbnail">
                
            </div>
        
            <div *ngFor="let vid of item.videos" class="col-xs-12">
                <div *ngIf="vid.url.length>0" class="embed-responsive embed-responsive-16by9">
                    <iframe [src]="handleVidUrl(vid.url)" class="embed-responsive-item" allowfullscreen>
                    </iframe>
                </div>
            </div>
    </div>
        
    <div class="row">
        <div class="col-xs-12 divider">
        </div>
    </div>
</div>
